{% extends 'base.html' %}

{% block content %}
<h1>Borrowed Books</h1>
<table border="1" cellpadding="10" cellspacing="0">
    <thead>
        <tr>
            <th>Book Title</th>
            <th>User</th>
            <th>Borrow Date</th>
            <th>Due Date</th>
            <th>Return Date</th>
        </tr>
    </thead>
    <tbody>
        {% for borrow in borrowed_books %}
            <tr>
                <td>{{ borrow.book.title }}</td>
                <td>{{ borrow.user }}</td>
                <td>{{ borrow.borrow_date }}</td>
                <td>{{ borrow.due_date }}</td>
                <td>{{ borrow.return_date if borrow.return_date else 'Not Returned' }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
